* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  background: black;
  color: white;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.section {
  height: 100vh;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home {
  background: linear-gradient(45deg, #0f2027, #203a43, #2c5364);
  color: white;
}

#sobre {
  background: #f4f4f4;
}

#projetos {
  background: #ddd;
}

/* animação */

.hidden {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}